* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(196, 234, 255);
}
.card-container {
  width: 620px;
  margin: 30px auto;
  padding: 8px;
  position: relative;
}
.card {
  background: #fff;
  margin-top: 40px;
  padding: 35px;
  border-radius: 4px;
  border: 1px solid inherit;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
p {
  margin-top: 10px;
}
button {
  position: absolute;
  padding: 10px;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.delete {
  background-color: transparent;
  color: #242222;
  right: 5px;
  top: 10px;
  font-size: 16px;
}
.send {
  background: rgb(44, 199, 238);
  right: 10px;
  top: -10px;
}

.edit {
  background-color: transparent;
  color: #242222;
  top: 10px;
  right: 45px;
}
.card-header {
  background: #fff;
}
.user-profile {
  height: 50px;
  width: 50px;
  background: #000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 10px;
}
.card-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Animation */
.loader {
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
span {
  display: block;
  position: absolute;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  -webkit-animation: run 2s infinite ease-in-out;
  animation: run 2s infinite ease-in-out;
}

span:nth-child(1) {
  background: #0687c7;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
span:nth-child(2) {
  background: #22adf3;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
span:nth-child(3) {
  background: #85c6e7;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
span:nth-child(4) {
  background: #64757d;
}

@-webkit-keyframes run {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    transform: translate(150%) scale(0.5);
    border-radius: 0%;
  }
  50% {
    transform: translate(150%, 150%);
    border-radius: 50%;
  }
  75% {
    transform: translate(0%, 150%) scale(0.5);
    border-radius: 0%;
  }
}
@keyframes run {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    transform: translate(150%) scale(0.5);
    border-radius: 0%;
  }
  50% {
    transform: translate(150%, 150%);
    border-radius: 50%;
  }
  75% {
    transform: translate(0%, 150%) scale(0.5);
    border-radius: 0%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal.show-modal {
  display: block !important;
}
.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 430px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-content input, .modal-content textarea{
    margin: 10px;
    padding: 8px;
    border: 1px solid rgb(212, 221, 236);
    border-radius: 4px;
}
.modal .create-btn {
    position: relative;
    margin: 10px;
    background-color: rgb(0, 208, 255);
  }
.close {
  color: #aaa;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}
